.*
!.gitignore
!.mailmap
*.o
*.o.*
*.a
*.s
*.ko
*.order

/config
/*.mod.c
/tags
/TAGS
/Module.markers
/Module.symvers

patches-*
patches
series

cscope.*
ncscope.*

GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#
