.*
!.gitignore
!.mailmap
*.o
*.o.*
*.a
*.s
*.ko
*.order

/config
/config.h
/ip
/*.mod.c
/TAGS
/tags
/test_header_*.c
/Module.markers
/Module.symvers

patches-*
patches
series

cscope.*
ncscope.*

GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#
